body {
  font-family: monospace;
  width: 100%;
  font-size: medium;
  color: #0d1321;
}

/* controls start */

#controls {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  width: 100%;
}

li {
  display: block;
  margin: 20px;
  text-decoration: none;
  /* border-radius: 5px;
  box-shadow: 1px 1px 10px #858ebc; */
}

li a {
  text-decoration: none;
  background-color: white;
  padding: 2px;
  padding-right: 7px;
  padding-left: 7px;
  cursor: crosshair;
}

li a:hover {
  background-color: #0d1321;
  color: #ffeddf;
}

#top-right {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2;
}

#top-right2 {
  position: fixed;
  top: 25px;
  right: 0px;
  z-index: 2;
}

#top-left {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#bottom-right {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

/* #bottom-right2 {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 93%;
  display: flex;
  justify-content: center;
} */

#bottom-right2 {
  position: fixed;
  bottom: 25px;
  right: 0px;
  z-index: 2;
}

audio {
  width: 40vw;
}

#bottom-right3 {
  position: fixed;
  bottom: 25px;
  right: 50px;
  z-index: 2;
}

#bottom-left {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}

label {
  color: #ffeddf;
}

/* pop-up start */

.popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup-content {
  position: fixed;
  background-color: #0d1321;
  color: #ffeddf;
  /* margin: 15% auto; */
  padding: 24px 32px;
  width: min(85vw, 35ch);
  /* height: 50vmin; */
  height: 60vh;
  height: vh;
  border-radius: 8px;
  box-shadow: 1px 1px 10px #858ebc;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-height: 700px) {
  .popup-content {
    height: 415px;
  }
}

.popup-content a:hover {
  margin: auto;
  color: #0d1321;
  background-color: #ffeddf;
  cursor: pointer;
}

.show {
  display: block;
}

#closeInfo,
#closeSettings,
#closeSamples {
  float: right;
}

pre {
  white-space: pre-wrap;
  display: block;
  margin: 1em 0px;
  /* font-size: medium; */
}

pre a {
  text-decoration: none;
  color: #ffeddf;
}

p {
  display: inline;
  color: #0d1321;
  background-color: #ffeddf;
  padding: 3px;
}

input {
  cursor: pointer;
}

/* #settingsPopup .popup-content {
  height: 360px;
} */

#samplesPopup .popup-content {
  height: 60px;
}

/* pop-up end */

/* controls end  */

/* webcam stuff start */

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.invisible {
  opacity: 0.2;
}

.videoView {
  position: relative;
  float: left;
  width: 100%;
  /* cursor: pointer; */
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

#liveView {
  position: absolute;
  top: 0;
  left: 0;
}

/* webcam stuff end */
