body {
  font-family: monospace;
  width: 100%;
}

/* controls start */

#controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  list-style-type: none;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

li {
  display: block;
  color: #000;
  margin: 20px;
  /* margin-top: 20px;
  margin-right: 20px; */
  /* padding: 5px; */
  text-decoration: none;
}

#top-right {
  text-align: right;
}

#top-left {
  float: left;
}

li a {
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

/* toggle start */

input {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  outline: none;
  background-color: #ccc;
  -webkit-appearance: none;
  /* transition: background .3s;rgba(0,0,0,0.15); */
}

input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: white;
  transition: left 0.3s;
}

input:checked {
  background-color: pink;
}

input:checked::after {
  left: 70%;
}

/* toggle end */

/* controls end  */

/* webcam stuff start */

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.invisible {
  opacity: 0.2;
}

.videoView {
  position: relative;
  float: left;
  width: 100%;
  cursor: pointer;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

#liveView {
  position: absolute;
  top: 0;
  left: 0;
}

/* webcam stuff end */
